// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/

// Kills bootstrap

//*
//  box-sizing: border-box

td:first-child
	width 10em

svg
	.sugar
		fill #F5F5F5
	.guarana
		fill #811
	.citric-acid
		fill #BF0
	.sodiumbicarbonate
		fill #1CC
	.aroma
		fill #E0E
	.caffeine
		fill #FA0
